*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}


body{
  background-color: #1A1924;
  color: #E1E1E6;
  font-family: 'Roboto', sans-serif;
}


main{
  padding: 32px 22px;
  max-width: 1024px;
  height: 100vh;
  margin: 0 auto;
}


span, p{
  width: fit-content;
  font-size: 12px;
  font-weight: 400;
}


.profile{
  margin-bottom: 20px;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.profile > div{
  display: flex;
  flex-direction: row;
  align-items: center;
  gap: 10px;
}
.profile-info span{
  display: flex;
  flex-direction: row;
  align-items: center;
}
.profile-info span > img{
  margin-right: 5px ;
}
.profile > div > div > p{
  font-size: 16px;
  font-weight: 700;
}
.profile > div > div > span{
  color: #00B37E;
}
.profile .close-chat{
  cursor: pointer;
}


.display-chat{
  position: relative;
  height: calc(100vh - 140px);
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  gap: 25px;
}
.display-chat .date{
  position: absolute;
  display: block;
  text-align: center;
  top: 0;
}
.display-chat > span{
  width: 100%;
}


.chat{
  display: flex;
  flex-direction: column;
}
.chat > p{
  max-width: 80%;
  margin-top: 10px; 
  padding: 14px;
  font-size: 12px;
}


.left{
  align-items: flex-start;
}
.left > p{
  background-color: #633BBC;
  border-radius: 8px 8px 8px 0px;
}


.right{
  align-items: flex-end;
}
.right > p{
  background-color: #00B37E;
  border-radius: 8px 8px 0px 8px;
}


.new-message{
  background-color: #282843;
  padding: 14px 20px;
  height: fit-content;
  max-height: 80px;
  border-radius: 30px;
  display: flex;
  gap: 5px;
}
.new-message > div{
  background-color: #282843;
  width:100%;
  padding: 4px;
  outline: none;
  font-size: 12px;
}
.new-message > div >p{
  display: block;
  text-align: center;
}
.new-message > button{
  background-color: #282843;
  color: #E1E1E6;
  border: none;
  font-size: 24px;
  display: flex;
  align-items: center;
}